// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$gray: #D1D1D1;

// Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Third Color Scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;


// Tipography

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Weight
$light-font: 300;
$regular-font: 400;
$bold: 900;

$italic: italic;

// Font Sizes
$xxx-large-font: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$regular: 14px;
$small: 12px;


// IMG

// Img sizes
$perfil-small: 130px;
$perfil-large: 220px;
$perfil-fluid: 100%;
