/*Main section*/

.main {
    .main__date {
        @include font($large, $regular-font);
        margin: 65px 0;
    }

    p {
        margin-bottom: 50px;
        @include font($medium, $light-font);
        color: $raisin-black;
    }

    span {
        color: $ruddy-pink;
    }
}